body
{
    margin: 0px;
    padding: 0px;
}
h1
{
    background-color: red;
    text-align: right;
    color: white;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}
p
{
    padding-left: 80px;
}
