/**
*User: Job van Engelen
*Date: 14 FEBRUARI 2020
*Time: 11:39 AM
*File: style.css
**/
/*body element van de webpagina achtergrond kleur aanpassen en padding en margin op 0px*/
body
{
    background-color: #F5F5DC;
    margin: 0px;
    padding: 0px;
}
/*kleur van de links naar de bijbehorende opdrachten*/
h1
{
    background-color: #F0F8FF;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: right;
    padding-right: 25px;
}
h2
{
    padding-left: 10px;
}
a:link
{
    color: blue;
}
a:hover
{
    color: blue;
}
a:active
{
    color: blue;
}
a:visited
{
    color: blue;
}
#wrapper
{

}